div.myclass {
            min-width: 350px
        }
        div.thumbnail {
            height: 648px
        }
        
        .jumbotron{
            background: url("../jumbotron-resize.jpg") no-repeat center center; 
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
        }